virt-install \
--name={{vm_item.name}} \
--virt-type=kvm  \
--ram {{vm_item.ram}} \
--vcpus={{vm_item.vcpus}} \
--virt-type=kvm \
--hvm \
{% for network_item in vm_item.netwrok_connections %} --network network:{{ network_item.network }},model=e1000{% if network_item.mac_addr is defined %},mac={{ network_item.mac_addr }}{% endif %}{% endfor %} \
--graphics vnc \
--video qxl \
--disk pool=default,size={{vm_item.disk_size}},sparse=true,bus=ide,format=qcow2 \
--force \
--cpu host-passthrough \
--noautoconsole \
--pxe \
{% if vm_item.os_type is defined %}--os-type {{vm_item.os_type}}{% endif %} \
{% if vm_item.os_variant is defined %}--os-variant={{vm_item.os_variant}}{% endif %}