vmaccepteula
rootpw {{vm_config.pxe_boot_config.root_password}}
#for Local boot
install --firstdisk --overwritevmfs
#for SAN boot
#install --firstdisk=remote --overwritevmfs

#network --bootproto=dhcp --vlanid=0
network --bootproto=static --ip={{vm_config.pxe_boot_config.ip_addr}} --netmask={{vm_config.pxe_boot_config.net_mask}} --gateway={{vm_config.pxe_boot_config.gateway}} --vlanid=0  --nameserver={{vm_config.pxe_boot_config.dns_server}} --hostname={{vm_config.pxe_boot_config.host_name}}


#reboot

%pre --interpreter=busybox
hwclock -d %LIVE_VAR_DATE_1% -t %LIVE_VAR_TIME_UTC_1%
date -s %LIVE_VAR_DATE_TIME_UTC_1%
cd /tmp

%firstboot --interpreter=busybox
cd /tmp


esxcfg-vswitch -A 'VM Network' vSwitch0



###############################
# enable & start remote ESXi Shell  (SSH)
###############################
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
 
###############################
# enable & start ESXi Shell (TSM)
###############################
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

esxcli system hostname set --host={{vm_config.pxe_boot_config.host_name}}




%post --interpreter=busybox --ignorefailure=true

cd /tmp
localcli network firewall set --default-action true
localcli network firewall set --enabled false

#Reboot esxi
reboot

