 default menu.c32
 prompt 0
 timeout 30
 MENU TITLE unixme.com PXE Menu

label ESXi6.5
menu label Install VMware ESXi6.5
kernel http://{{pxe_srvr_ip}}/{{esxi6_5_iso_extracted_files_folder}}/mboot.c32
append -c http://{{pxe_srvr_ip}}/{{esxi6_5_ks_file_folder}}/{{vm_mac_add}}/boot.cfg  +++
IPAPPEND 1